{% extends 'base.html' %}

{% block content %}

  <!-- Header Area wrapper Starts -->
      {% include 'partials/_header.html' %}
  <!-- Header Area wrapper End -->

  <!-- Services Section Start -->
      {% include 'partials/_servicos.html' %}
  <!-- Services Section End -->

  <!-- About Section start -->
      {% include 'partials/_sobre.html' %}
  <!-- About Section End -->

  <!-- Features Section Start -->
      {% include 'partials/_features.html' %}
  <!-- Features Section End -->   

  <!-- Team Section Start -->
      {% include 'partials/_team.html' %}
  <!-- Team Section End -->

  <!-- Pricing section Start --> 
      {% include 'partials/_precos.html' %}
  <!-- Pricing Table Section End -->

  <!-- Testimonial Section Start -->
      {% include 'partials/_clientes.html' %}
  <!-- Testimonial Section End -->

  <!-- Call To Action Section Start -->
      {% include 'partials/_call.html' %}
  <!-- Call To Action Section Start -->

  <!-- Contact Section Start -->
      {% include 'partials/_contato.html' %}
  <!-- Contact Section End -->

  <!-- Footer Section Start -->
      {% include 'partials/_footer.html' %} 
  <!-- Footer Section End -->

{% endblock content %}